.container {
  width: 100%;
  margin: 20px auto;
}

.titleContainer {
  text-align: center;
  margin-bottom: 20px;
}

.chartsContainer {
  display: flex;
  justify-content: space-between;
}

.chartBox {
  flex: 1;
  margin: 0 10px;
}

.divider {
  width: 2px;
  height: 550px;
  background-color: #999;
  margin: 0 10px;
}
