/* ProductosTabla.module.css */

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundColor);
}

.table {
  align-items: center;
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
}

.excelSection {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alineación a la derecha */
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-right: 36px;
}

.dateInputContainer {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.dateLabel {
  margin-bottom: 5px;
  font-weight: bold;
}

.dateInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.th,
.td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--primary-border-color);
  cursor: pointer;
}

.th {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  user-select: none;
}

.th:hover {
  background-color: var(--hover-background-color);
}

.tr:hover {
  background-color: var(--hover-background-color);
}

.instrumento-nombre {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button-edit {
  background-color: var(--edit-button-color);
  color: var(--button-text-color);
}

.button-delete {
  background-color: var(--delete-button-color);
  color: var(--button-text-color);
}

.button-add {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding: 10px 15px;
  margin-bottom: 20px; /* Espacio debajo del botón */
  margin-right: 3vw;
  float: right;
}
