.cartNavItem {
  display: flex; /* Se necesita 'display' para aplicar 'd-flex' */
  margin-top: auto;
  margin-left: 50vw; /* Empuja el elemento a la derecha */
  position: relative; /* Corrección para 'position-relative' */
}
